@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  height: 100vh;
  background-color: black;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  background-image: url("./p404.png");
  background-color: black;
  position: relative;
}
section {
  height: 100vh;
}
.section_1 {
  scroll-snap-align: start;
  padding-top: 330px;
  padding-left: 230px;
}
.section_1 h1 {
  width: 100%;
  display: flex;
  font-size: 50px;
  color: white;
  letter-spacing: 8px;
  font-weight: 900;
}
.follow {
  position: fixed;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 3px solid white;
  display: grid;
  place-content: center;
  transition: all 100ms;
  pointer-events: none; /* Imp */
}

h1:hover ~ .follow {
  height: 85px;
  width: 85px;
  background-color: white;
  opacity: 0.5;
}
